/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

img {
    width: 100%;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.menu {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #540B51;
}

.searchicon,
.menuicon {
    background-color: transparent;
    border: none;
}


.logoslack {
    width: 11em;
}

.menu ul {
    display: none;
    list-style: none;

}

.teamwork {
    background-color: #540B51;
    padding: 1.2em;
    text-align: center;
}

.teamwork p {
    color: white;
}

.teamwork .signupmail,
.teamwork .signupgoogle {
    width: 100%;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
}

.teamwork a {
    color: #ECB12F;
    text-decoration: none;
}

h1 {
    color: white;
}

.signupgoogle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4285F4;

}

.signupgoogle img {
    width: 30px;
    background-color: white;
}

.signupgoogle span {
    margin: auto;
}

.companies {
    background-color: #F3EAE2;
    padding: 1.8em;
    text-align: center;
}

.companies p {
    text-transform: uppercase;
    font-weight: bold;
}

.companieslogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.companieslogos img {
    height: 50px;
    width: auto;
    margin: 0.7em;
}

.teamsdata {
    text-align: center;
}

.teamsdata ul {
    list-style: none;
}

h3 {
    color: #540B51;
    font-size: 2em;
}

.teamsdata span {
    color: #540B51;
    font-size: 3em;
}

.teamsdata ul {
    font-weight: bold;
}

.trysection {
    background-color: #540B51;
    align-items: center;
    padding: 1.4em;
    display: flex;
    flex-wrap: wrap;
}

.trysection h3 {
    color: white;
    text-align: center;
    width: 100%;
}

.trysection button {
    width: 100%;
    padding: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0.8em;
}

.talksales {
    background-color: #540B51;
    border-color: white;
    color: white;
}

.bottommenu,
.socials {
    list-style: none;
    font-weight: bolder;
}

footer {
    margin: 1em
}

.bottommenu {
    padding: 0%;
    justify-content: left;
}

.bottommenu img {
    width: 0.8em;
}

.bottommenu a {
    text-decoration: none;
}

.bottommenu li {
    margin-top: 1em;
}

.socials {
    padding: 0.1em;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .teamsdata ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .bottommenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .socials {
        justify-content: flex-start;
    }

    .fa-facebook,
    .fa-youtube,
    .fa-linkedin {
        margin-left: 5em;
    }

    .teamwork {
        background-color: transparent;
        padding-right: 7em;
        text-align: left;
    }

    .hero {
        background-image: url(../images/background-singup.png);
        display: flex;
        align-items: center;
    }

    .hero h1 {
        font-size: 4em;
    }

    .mobiletablet {
        width: 900px;


    }
}